[submodule "python-mnemonic"]
	path = python-mnemonic
	url = https://github.com/trezor/python-mnemonic.git
[submodule "secret-sharing"]
	path = secret-sharing
	url = https://github.com/springlabs/secret-sharing.git
